In [6]:
a = "Pepe"

In [12]:
# type casting
print(a+str(3))

Pepe3

In [15]:
int("222")+1

223

In [17]:
x = "Hola"
int(x)

ValueError: invalid literal for int() with base 10: 'Hola'

In [18]:
type(x)

str

In [27]:
# Floats
x = 2.44
print(type(x))

# Boolean
x = False
print(type(x))

# Int
x = 5
print(type(x))

# String
x = "Hola"
print(type(x))

<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>

# Tuple

In [37]:
x = (1,2,3)
print(type(x))
print(x[0]) # Index 0
print(len(x))

x = ("Pepe",54,True)
print(x)

# x.append("JUAN") # En las tuplas no se puede hacer un append

<class 'tuple'>
1
3
('Pepe', 54, True)

AttributeError: 'tuple' object has no attribute 'append'

# Lists

In [36]:
x = [1,2,3]
print(type(x))
print(x[0])
print(len(x))

x = ["Pepe",54,False]
print(x)
x.append("Juan")
print(x)
len(x)

<class 'list'>
1
3
['Pepe', 54, False]
['Pepe', 54, False, 'Juan']

4

In [38]:
z = []
z.append(1)
z.append(2)
z.append(3)

print(z)

[1, 2, 3]

In [54]:
print("\"Hola\"")
print('"Hola"')

"Hola"
"Hola"

In [46]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

m = ["Hola"]
print(m*5)

s = "-".join(["Hola"]*5) # JOIN convierte una lista en un string
print(s, type(s))

a = [1,2,3,4]
"-".join(a)

[1, 2, 3, 4, 5, 6]
['Hola', 'Hola', 'Hola', 'Hola', 'Hola']
Hola-Hola-Hola-Hola-Hola <class 'str'>

TypeError: sequence item 0: expected str instance, int found

In [68]:
a = [1,2,3,4]
b = []

for e in a:
    print("Hola "+ str(e))
    b.append(str(e))

print(a,b)
"-".join(b)

# "-".join(str(a)) <- QUIZ: Que esta pasando????

Hola 1
Hola 2
Hola 3
Hola 4
[1, 2, 3, 4] ['1', '2', '3', '4']

'1-2-3-4'

In [75]:
nombres = ["Pepe","Juan"]
apellidos = ["Garcia","Carlos"]

for i in range(len(nombres)):
    print(nombres[i] + " " + apellidos[i])

Pepe Garcia
Juan Carlos

In [131]:
a = list(range(5))
b = ["Luis","Marta","Paco","Ana","David"]
c = []

for e in a:
    c.append([e,b[e]])

print(c)
c[2][1]

[[0, 'Luis'], [1, 'Marta'], [2, 'Paco'], [3, 'Ana'], [4, 'David']]

'Paco'

In [140]:
a = [
    ["Juan",30],
    ["Pepe",40],
    ["Ana",30],
    ["Marta",30]
]

print(a)
for nombre,edad in a: #unpack
    print(nombre, edad)

[['Juan', 30], ['Pepe', 40], ['Ana', 30], ['Marta', 30]]
Juan 30
Pepe 40
Ana 30
Marta 30

In [196]:
a = list(range(20))
print(a)
print(a[-1],a[-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
19 18

In [198]:
nombres = ["Pepe","Ana","Carlos"]
for i in range(len(nombres)):
    print(i, nombres[i])

0 Pepe
1 Ana
2 Carlos

In [202]:
nombres = ["Pepe","Ana","Carlos","Juan"]
for i,e in enumerate(nombres):
    print(i,e)

0 Pepe
1 Ana
2 Carlos
3 Juan

In [203]:
nombres = ["Pepe","Ana","Carlos","Juan"]
apellidos = ["Garcia","Perez","Vives","Cuesta"]

for i,e in enumerate(nombres):
    print(e, apellidos[i])

Pepe Garcia
Ana Perez
Carlos Vives
Juan Cuesta

In [205]:
apellidos = ["Garcia","Perez","Vives","Cuesta"]
list(enumerate(apellidos))

[(0, 'Garcia'), (1, 'Perez'), (2, 'Vives'), (3, 'Cuesta')]

In [215]:
nombres = ["Pepe","Ana","Carlos","Juan","Marta","Maria"]
apellidos = ["Garcia","Perez","Vives","Cuesta"]
#print(list(zip(nombres, apellidos)))

for nombre, apellido in zip(nombres,apellidos):
    print(nombre, apellido)

Pepe Garcia
Ana Perez
Carlos Vives
Juan Cuesta

In [217]:
nombres = ["Pepe","Ana","Carlos","Juan","Marta","Maria"]
apellidos = ["Garcia","Perez","Vives","Cuesta"]
apellidos2 = ["Garcia","Perez","Cuesta"]
#print(list(zip(nombres, apellidos)))

for nombre, apellido, apellido2 in zip(nombres,apellidos, apellidos2):
    print(nombre, apellido, apellido2)

Pepe Garcia Garcia
Ana Perez Perez
Carlos Vives Cuesta

# SETS

In [79]:
# Set
a = set([1,2,3])
print(a, type(a))

for e in a:
    print(e)

{1, 2, 3} <class 'set'>
1
2
3

In [93]:
a = set([1,2,3,3,2,1])
print(a)

b = ["Juan","Pepe","Luis","Pepe","Carlos"]
print(set(b))

c = "Hola que tal estas, ¿Como te llamas? hola"
c = c.lower() # Convertir en minusculas

m = set(c)
print(m)
print(len(m), len(c))
#print(m[0]) <- Es un error

print("PRIMER ELEMENTO:",list(m)[0])

for e in m:
    print(e)

{1, 2, 3}
{'Carlos', 'Luis', 'Juan', 'Pepe'}
{'c', 'a', 'o', 'q', '?', 's', 'h', 'l', '¿', 't', ' ', 'u', 'm', 'e', ','}
15 41
PRIMER ELEMENTO: c
c
a
o
q
?
s
h
l
¿
t

u
m
e
,

In [102]:
# https://docs.python.org/3.7/library/stdtypes.html#set
a = set([1,2,3])
b = set([4,5,6,3])
print(a.union(b))
print(a.intersection(b),b.intersection(a))
print(a.difference(b),b.difference(a))

{1, 2, 3, 4, 5, 6}
{3} {3}
{1, 2} {4, 5, 6}

In [105]:
a = set([1,2,3])
b = set([2,3,4])

b.issubset(a)

False

In [108]:
z = set([1,2,3])
if "Pepe" in z:
    print("Hola")
else:
    print("Adios")

Adios

In [114]:
a = set([1,2,3])
a.add(5)
a.add(3)
print(a)

{1, 2, 3, 5}

In [112]:
a = 3
b = 8
if a == 3:
    print("Hola")
    if b==9:
        print("Bien")
elif a==4:
    print("adios")
else:
    print("Nada")

Hola

# Dicts

In [148]:
alumno = {
    "nombre":"Luis",
    "edad": 25,
    "notas": [5,4,10]
}
print(alumno, type(alumno))

print("las notas de:",alumno["nombre"])
for e in alumno["notas"]:
    print(e)

{'nombre': 'Luis', 'edad': 25, 'notas': [5, 4, 10]} <class 'dict'>
las notas de: Luis
5
4
10

In [160]:
alumno = {
    "nombre":"Luis",
    "edad": 25,
    "apellidos":{
        "primero":"Garcia",
        "segundo":"Garcia"
    },
    "notas": [5,4,10]
}

for e in alumno:
    print(e)

nombre
edad
apellidos
notas

In [161]:
alumno.keys()

dict_keys(['nombre', 'edad', 'apellidos', 'notas'])

In [162]:
alumno.values()

dict_values(['Luis', 25, {'primero': 'Garcia', 'segundo': 'Garcia'}, [5, 4, 10]])

In [163]:
alumno.items()

dict_items([('nombre', 'Luis'), ('edad', 25), ('apellidos', {'primero': 'Garcia', 'segundo': 'Garcia'}), ('notas', [5, 4, 10])])

In [164]:
for e in alumno.items():
    print(e)
for key, value in alumno.items():
    print(key,value)

('nombre', 'Luis')
('edad', 25)
('apellidos', {'primero': 'Garcia', 'segundo': 'Garcia'})
('notas', [5, 4, 10])
nombre Luis
edad 25
apellidos {'primero': 'Garcia', 'segundo': 'Garcia'}
notas [5, 4, 10]

In [165]:
print(alumno["nombre"],alumno["apellidos"]["primero"],alumno["apellidos"]["segundo"])

Luis Garcia Garcia

In [177]:
alumnos = [{
    "nombre":"Luis",
    "edad": 25,
    "apellidos":{
        "primero":"Garcia",
        "segundo":"Garcia"
    },
    "notas": [5,4,10]
},{
    "nombre":"Carlos",
    "edad": 25,
    "apellidos":{
        "primero":"Garcia",
        "segundo":"Garcia"
    },
    "notas": [5,4,10]
    }
]

print(alumnos)

[{'nombre': 'Luis', 'edad': 25, 'apellidos': {'primero': 'Garcia', 'segundo': 'Garcia'}, 'notas': [5, 4, 10]}, {'nombre': 'Carlos', 'edad': 25, 'apellidos': {'primero': 'Garcia', 'segundo': 'Garcia'}, 'notas': [5, 4, 10]}]

In [180]:
schoolSystem = {
  'schools': [{
      'name': 'Fake School 1',
      'classRooms': [{
        'teacher': {
          'firstName': 'Marcelino',
          'lastName': 'Padberg',
          'age': 25
        },
        'students': [{
            'firstName': 'Aliyah',
            'lastName': 'Schulist',
            'age': 18
          },
          {
            'firstName': 'Cleveland',
            'lastName': 'Towne',
            'age': 28
          }, {
            'firstName': 'Jan',
            'lastName': 'Quitzon',
            'age': 18
          }, {
            'firstName': 'Alaina',
            'lastName': 'Runolfsdottir',
            'age': 18
          },{
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Gerhard',
            'lastName': 'Bergstrom',
            'age': 23
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Edwardo',
          'lastName': 'Schowalter',
          'age': 28
        },
        'students': [{
            'firstName': 'Manley',
            'lastName': 'Doyle',
            'age': 18
          }, {
            'firstName': 'Maximilian',
            'lastName': 'Gleichner',
            'age': 19
          }, {
            'firstName': 'Sid',
            'lastName': 'Rohan',
            'age': 30
          },
          {
            'firstName': 'Catalina',
            'lastName': 'Hilpert',
            'age': 27
          }, {
            'firstName': 'Gerald',
            'lastName': "O'Keefe",
            'age': 26
          }
        ]
      }]
    },
    {
      'name': 'Fake School 2',
      'classRooms': [{
          'teacher': {
            'firstName': 'Lucas',
            'lastName': 'Schroeder',
            'age': 29
          },
          'students': [{
              'firstName': 'Giuseppe',
              'lastName': 'Hegmann',
              'age': 24
            },
            {
              'firstName': 'Jennyfer',
              'lastName': 'Hane',
              'age': 19
            }, {
              'firstName': 'Mikayla',
              'lastName': 'Braun',
              'age': 23
            }, {
              'firstName': 'Rickie',
              'lastName': 'White',
              'age': 22
            }, {
              'firstName': 'Rose',
              'lastName': 'Collins',
              'age': 30
            }
          ]
        },
        {
          'teacher': {
            'firstName': 'Green',
            'lastName': 'Sauer',
            'age': 25
          },
          'students': [{
              'firstName': 'Melany',
              'lastName': 'Welch',
              'age': 25
            }, {
              'firstName': 'Paxton',
              'lastName': 'Corkery',
              'age': 22
            },
            {
              'firstName': 'Nellie',
              'lastName': 'Hauck',
              'age': 26
            }, {
              'firstName': 'Eunice',
              'lastName': 'Hirthe',
              'age': 26
            }, {
              'firstName': 'Aylin',
              'lastName': 'Barrows',
              'age': 26
            }
          ]
        }
      ]
    },
    {
      'name': 'Fake School 3',
      'classRooms': [{
        'teacher': {
          'firstName': 'Nikko',
          'lastName': 'Crist',
          'age': 42
        },
        'students': [{
            'firstName': 'Christop',
            'lastName': 'Hahn',
            'age': 26
          }, {
            'firstName': 'Newell',
            'lastName': 'Kemmer',
            'age': 27
          },
          {
            'firstName': 'Katheryn',
            'lastName': 'Heller',
            'age': 26
          }, {
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Maudie',
            'lastName': 'Haley',
            'age': 30
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Nathanael',
          'lastName': 'Hansson',
          'age': 50
        },
        'students': [{
            'firstName': 'Jensen',
            'lastName': 'Reichel',
            'age': 21
          }, {
            'firstName': 'Lois',
            'lastName': 'Kulas',
            'age': 28
          },
          {
            'firstName': 'Caterina',
            'lastName': 'Wolff',
            'age': 28
          }, {
            'firstName': 'Dahlia',
            'lastName': 'Collier',
            'age': 24
          },
          {
            'firstName': 'Linwood',
            'lastName': 'Langosh',
            'age': 26
          }
        ]
      }]
    }
  ]
}

In [231]:
# 1 - Add a student with the name of Lucille D. Lozano to Fake School 2, 
#     in the first classroom.
newstudent = {
    "firstName": "Lucille D.",
    "lastName": "Lozano",
    "age": "NA"
}
schoolSystem['schools'][1]['classRooms'][0]['students'].append(newstudent)


# 2 - Retrieve the “Fake School 3” object
for e in schoolSystem['schools']:
    if e['name']=='Fake School 3':
        print(e)

# 3 - Retrieve the teacher with the first name of “Nathanael”
for school in schoolSystem["schools"]:
    for classRooms in school["classRooms"]:
        name = classRooms["teacher"]["firstName"]
        if name =="Nathanael":
            print(classRooms["teacher"])

{'name': 'Fake School 3', 'classRooms': [{'teacher': {'firstName': 'Nikko', 'lastName': 'Crist', 'age': 42}, 'students': [{'firstName': 'Christop', 'lastName': 'Hahn', 'age': 26}, {'firstName': 'Newell', 'lastName': 'Kemmer', 'age': 27}, {'firstName': 'Katheryn', 'lastName': 'Heller', 'age': 26}, {'firstName': 'Saul', 'lastName': 'Heathcote', 'age': 20}, {'firstName': 'Maudie', 'lastName': 'Haley', 'age': 30}]}, {'teacher': {'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}, 'students': [{'firstName': 'Jensen', 'lastName': 'Reichel', 'age': 21}, {'firstName': 'Lois', 'lastName': 'Kulas', 'age': 28}, {'firstName': 'Caterina', 'lastName': 'Wolff', 'age': 28}, {'firstName': 'Dahlia', 'lastName': 'Collier', 'age': 24}, {'firstName': 'Linwood', 'lastName': 'Langosh', 'age': 26}]}]}
{'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}

In [190]:
# 4 - Retrieve the student with the first name of “Saul”
for school in schoolSystem["schools"]:
    for classRooms in school["classRooms"]:
        for student in classRooms["students"]:
            if student["firstName"]=="Saul":
                print(school["name"],"-", student["firstName"])
                break

Fake School 1 - Saul
Fake School 3 - Saul

In [192]:
for i in range(10):
    print(i)
    if i == 3:
        break

0
1
2
3

In [220]:
alumno ={
    "nombre":"Juan",
    "edad":30
}

a = [alumno, alumno]
print(a)
alumno["nombre"] = "David"
print(a)

[{'nombre': 'Juan', 'edad': 30}, {'nombre': 'Juan', 'edad': 30}]
[{'nombre': 'David', 'edad': 30}, {'nombre': 'David', 'edad': 30}]

In [232]:
# QUIZ!! Que esta pasando???
alumno = {
    "nombre":"Juan",
    "edad":30
}

a = [alumno, alumno]
print(a)
a[0]["nombre"] = "David"
print(a)

[{'nombre': 'Juan', 'edad': 30}, {'nombre': 'Juan', 'edad': 30}]
[{'nombre': 'David', 'edad': 30}, {'nombre': 'David', 'edad': 30}]

In [230]:
alumnos = [
    {"nombre":"pepe"},
    {"edad":33},
    True
]

alumnos.append("Hola que tal")

for e in alumnos:
    #print(e["nombre"])
    print(e, type(e))

{'nombre': 'pepe'} <class 'dict'>
{'edad': 33} <class 'dict'>
True <class 'bool'>
Hola que tal <class 'str'>

In [227]:
hola = {}
hola["nombre"] = 33
print(hola)

{'nombre': 33}

# Refs
- https://docs.python.org/3/library/functions.html

In [ ]:
# Ver otro dia
# "byte"
# "Datetime"
# "range"