# Scipy

## Linalg

In [3]:
import numpy as np
from scipy import linalg

In [15]:
#  x + 3y + 5z = 10
# 2x + 5y +  z = 8
# 2x + 3y + 8z = 3

A = np.asarray([
    [1,3,5],
    [2,5,1],
    [2,3,8]
]) 

b = np.asarray([
    [10],
    [8],
    [3]
]) 

# Unpacking values
sol = linalg.solve(A,b)
[x],[y],[z] = sol
print(sol)
print(f"La solucion es -> X:{round(x,2)} Y:{round(y,2)} Z:{round(z,2)}")

[[-9.28]
 [ 5.16]
 [ 0.76]]
La solucion es -> X:-9.28 Y:5.16 Z:0.76

In [13]:
# Unpacking
def suma():
    return [5,8]

a,b = suma()
print(a,b)

5 8

# Scipy stats

In [23]:
from scipy.stats import tmean
data = np.linspace(-10,10,100)

result = tmean(data, limits=(-10,10))
print(round(result,4))

result = tmean(data, limits=(0,10))
print(round(result,4))

-0.0
5.0505

# Pandas crosstab

In [25]:
data = np.asarray([
    ["foo", "foo", "foo", "foo", "bar", "bar", "bar","bar", "foo", "foo", "foo"],
    ["one", "one", "one", "two", "one", "one","one", "two", "two", "two", "one"],
    ["dull", "dull", "shiny", "dull", "dull", "shiny","shiny", "dull", "shiny", "shiny", "shiny"]
], dtype=object)
data

array([['foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar', 'foo',
        'foo', 'foo'],
       ['one', 'one', 'one', 'two', 'one', 'one', 'one', 'two', 'two',
        'two', 'one'],
       ['dull', 'dull', 'shiny', 'dull', 'dull', 'shiny', 'shiny',
        'dull', 'shiny', 'shiny', 'shiny']], dtype=object)

In [28]:
import pandas as pd

df = pd.DataFrame({"A":data[0], "B":data[1], "C":data[2]})
df

      A    B      C
0   foo  one   dull
1   foo  one   dull
2   foo  one  shiny
3   foo  two   dull
4   bar  one   dull
5   bar  one  shiny
6   bar  one  shiny
7   bar  two   dull
8   foo  two  shiny
9   foo  two  shiny
10  foo  one  shiny

In [37]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html
df_cr = pd.crosstab(df.A, [df.B,df.C])
df_cr

B    one        two
C   dull shiny dull shiny
A
bar    1     2    1     0
foo    2     2    1     2

In [34]:
df_cr["one"]

C    dull  shiny
A
bar     1      2
foo     2      2

In [43]:
x = df_cr.T
display(x)
x.iloc[x.index.isin(["dull"], level=1)].T

A          bar  foo
B   C
one dull     1    2
    shiny    2    2
two dull     1    1
    shiny    0    2

B    one  two
C   dull dull
A
bar    1    1
foo    2    1

In [53]:
cols = df_cr.columns[df_cr.columns.isin(["shiny"], level=1)]
df_cr[cols]

B     one   two
C   shiny shiny
A
bar     2     0
foo     2     2

In [57]:
set([3.0,3.0000000000])

{3.0}